<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Añadir nueva nota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-input type="text" formControlName="titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input formControlName="descripción"></ion-input>
    </ion-item>
    <ion-item (click)="this.tab3()">
      <ion-label>{{this.imagen}}</ion-label>
    </ion-item>
    <ion-button color="primary" fill="outline" type="submit" [disabled]="!todo.valid">Enviar</ion-button>
  </form>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="this.tab1()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>